<div class="ion-page" id="main-content">

  <!--ACA VA EL COMPONENTE DEL HEADER-->
  <app-header></app-header>
  <!--ACA VA EL COMPONENTE DEL HEADER-->

  <ion-content class="ion-padding wrapper">

    <ion-card class="ion-activatable ripple-parent">

      <ion-card-header class="ion-text-center">
        <ion-card-title class="ion-margin">Mis Datos</ion-card-title>
        <img src="assets/img/avatar.png" id="avatar" alt="avatar">
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" value="{{ nombre | titlecase }}" readonly></ion-input>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input type="text" value="{{ apellido | titlecase }}" readonly></ion-input>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="text" value="{{correo}}" readonly></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>

  </ion-content>

  <!--ACA VA EL COMPONENTE DEL footer-->
  <app-footer></app-footer>
  <!--ACA VA EL COMPONENTE DEL footer-->

</div>