<ion-header>
  <ion-toolbar color="tertiary">

    <div class="ion-text-center">
      <img src="assets/img/logo-dark.png" alt="logo" width="30px" height="auto">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-card style="width: 500px; height: auto; margin-top: 70px; padding: 30px;">
        <h1 class="ion-text-center">Genera el código de tu clase</h1>
        <br>
        <div class="ion-text-center">

          <div *ngIf="qrInfo == null; else elseBlock">
            <img src="assets/img/qr-code.png" alt="QR Code" [attr.width]="size" [attr.height]="size"/>
          </div>
          
          <ng-template #elseBlock>
            <qr-code [value]="qrInfo" [size]="size">
          </qr-code></ng-template>

          

        </div>
        <br>
        <br>
        <mat-select placeholder = "Selecciona una asignatura" [(value)]="selected">
          <mat-option *ngFor="let c of clases" [value]="c">{{ c.nombre | titlecase}}</mat-option>
        </mat-select>
        <br>
        <br>

        <div class="ion-text-center">
          <ion-button (click)="generarQR()" color="tertiary">
            <ion-icon name="qr-code-outline" size="large" ></ion-icon>&nbsp; Generar QR
          </ion-button>
          <ion-button (click)="limpiarQR()" color="medium" *ngIf="qrInfo != null">
            <ion-icon name="trash-outline" size="large" ></ion-icon>
          </ion-button>
        </div>

      </ion-card>

</ion-content>