<ion-header>
</ion-header>

<ion-content>
  <div id="logo" class="ion-text-center" #logo>
    <img src="assets/img/r2.png" alt="usuario" width="125px" height="auto">
  </div>

  <ion-card>
    <ion-card-content>
      <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="email" [(ngModel)]="usuario.correo" required formControlName="emailForm"></ion-input><!--required solo funciona a medias, lo muestra rojo pero igual deja enviarlo-->
          <div *ngFor="let er of errores">
            <ng-container *ngIf="loginForm.get('emailForm').hasError(er.tipo) && (loginForm.get('emailForm').touched || loginForm.get('emailForm').dirty)">
              <p style="color: brown;">{{er.mensaje}}</p>
            </ng-container>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.contrasena" required formControlName="passForm"></ion-input>
          <div *ngFor="let er of errores">
            <ng-container *ngIf="loginForm.get('passForm').hasError(er.tipo) && (loginForm.get('passForm').touched || loginForm.get('passForm').dirty)">
              <p style="color: brown;">{{er.mensaje}}</p>
            </ng-container>
          </div>
        </ion-item>
        <br>
        <ion-button color="tertiary" expand="block" type="submit">Ingresar</ion-button>

          <ng-container *ngIf="errorBoolean==true">
            <p style="color: brown;">{{datosError}}</p>
          </ng-container>

      </form>
    </ion-card-content>
  </ion-card>

  <ion-text class="ion-text-center">
    <a [routerLink]="['/reset']"><h4>¿Olvidaste tu contraseña?</h4></a>
  </ion-text>

  <br>  

</ion-content>