<ion-content>

  <!--centered spinner-->
  <ion-spinner *ngIf="pageState == 1" color="tertiary" name="circles"></ion-spinner>

  <ion-card *ngIf="pageState == 2">
    <ion-card-header class="ion-text-center">
      <ion-icon name="book-outline" size="large"></ion-icon>
      <ion-card-title>
        <h2>Tu clase</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-item>
        <ion-label position="stacked">Asignatura:</ion-label>
        <ion-input type="text" value="{{ clase.asignatura | titlecase }}" readonly></ion-input>
        <ion-label position="stacked">Secci&oacute;n:</ion-label>
        <ion-input type="text" value="{{ clase.seccion | uppercase }}" readonly></ion-input>
        <ion-label position="stacked"> Docente:</ion-label>
        <ion-input type="text" value="{{ clase.profesor | titlecase }}" readonly></ion-input>
        <ion-label position="stacked"> Fecha:</ion-label>
        <ion-input type="text" value="{{ clase.fecha }}" readonly></ion-input>
        <ion-label position="stacked"> Hora:</ion-label>
        <ion-input type="text" value="{{ clase.hora }}" readonly></ion-input>
      </ion-item>
      <hr>

      <div class="ion-text-center">
        <ion-button color="tertiary" (click)="registrarAsistencia()" [routerLink]="['/home']">
          <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;
          ¡Presente!
        </ion-button>
        <ion-button color="medium" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="pageState == 3" style="margin-top: 50%;">
    <ion-card-header class="ion-text-center">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      <ion-card-title>
        Error al escanear
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-text>
        <p>Este no es un c&oacute;digo de Registrapp. Por favor, escanee una fuente v&aacute;lida.</p>
      </ion-text>
      <hr>

      <div class="ion-text-center">
        <ion-button color="tertiary" (click)="startScan()">
          <ion-icon name="qr-code-outline"></ion-icon>&nbsp;
          Reintentar
        </ion-button>
        <ion-button color="medium" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>


