<div class="ion-page" id="main-content">

  <!--ACA VA EL COMPONENTE DEL HEADER-->
  <app-header></app-header>
  <!--ACA VA EL COMPONENTE DEL HEADER-->

  <ion-content class="ion-padding wrapper">

    <div class="ion-text-center ion-margin" #titulo>
      <ion-text id="bienvenido">¡Bienvenid@!</ion-text>
    </div>

    <ion-card [routerLink]="['/scan']">
      <ion-card-content class="ion-text-center" #qr>
        <img src="assets/img/qr-code.png" alt="qrcode" width="125px" height="auto">
      </ion-card-content>
      <ion-text class="ion-text-center">
        <h4>Escanear codigo QR</h4>
      </ion-text>
    </ion-card>

    <ion-row>
      <ion-col>
        <a [routerLink]="['/historial']">
          <ion-card class="ion-activatable ripple-parent">
            <ion-card-content class="ion-text-center">
            <mat-icon>spellcheck</mat-icon>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/cuenta']">
          <ion-card class="ion-activatable ripple-parent">
            <ion-card-content class="ion-text-center">
              <mat-icon>person</mat-icon>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <a [routerLink]="['/settings']">
          <ion-card class="ion-activatable ripple-parent">
            <ion-card-content class="ion-text-center">
              <mat-icon>settings</mat-icon>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/login']">
          <ion-card class="ion-activatable ripple-parent">
            <ion-card-content class="ion-text-center">
              <mat-icon>logout</mat-icon>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>

  </ion-content>

  <!--ACA VA EL COMPONENTE DEL footer-->
  <app-footer></app-footer>
  <!--ACA VA EL COMPONENTE DEL footer-->

</div>