<div class="ion-page" id="main-content">

  <!--ACA VA EL COMPONENTE DEL HEADER-->
  <app-boton-menu></app-boton-menu>
  <!--ACA VA EL COMPONENTE DEL HEADER-->

  <ion-content class="ion-padding">

    <ion-card-title class="ion-text-center ion-margin" #titulo>
      <h3 id="bienvenido">¡Bienvenid@!</h3>
    </ion-card-title>

    <br>

    <ion-card [routerLink]="['/scan']" class="ion-background-tertiary">
      <ion-card-content class="ion-text-center" #qr>
        <img src="assets/img/qr-code.png" alt="qrcode" width="125px" height="auto">
      </ion-card-content>
      <ion-text class="ion-text-center">
        <h4>Escanear codigo QR</h4>
      </ion-text>
    </ion-card>

    <hr>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <a [routerLink]="['/historial']"><mat-icon>spellcheck</mat-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <a [routerLink]="['/cuenta']"><mat-icon>person</mat-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <a [routerLink]="['/settings']"><mat-icon>settings</mat-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <a [routerLink]="['/login']"><mat-icon>logout</mat-icon></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-content>

</div>