<div class="ion-page" id="main-content">

  <!--ACA VA EL COMPONENTE DEL HEADER-->
  <app-header></app-header>
  <!--ACA VA EL COMPONENTE DEL HEADER-->

  <ion-content class="ion-padding">

    <div id="titulo" class="ion-margin" #titulo>
      <img id="imagen-logo" src="assets/img/app-name-light.png">
    </div>

    <hr>

    <ion-card id="qr-card" [routerLink]="['/scan']" class="ion-margin">
      <ion-card-content class="ion-text-center" #qr>
        <img src="assets/img/qr-code.png" alt="qrcode" width="125px" height="auto">
      </ion-card-content>
      <ion-text class="ion-text-center">
        <h4>Escanea el c&oacute;digo QR de tu clase</h4>
      </ion-text>
    </ion-card>

    <hr>

    <div class="ion-text-center ion-margin">
      <ion-button [routerLink]="['/historial']" color="tertiary" expand="block">
        <ion-icon name="calendar-outline" ></ion-icon>&nbsp;
        <ion-label>&Uacute;ltimas clases</ion-label>
      </ion-button>
    </div>

  </ion-content>

  <!--ACA VA EL COMPONENTE DEL footer-->
  <app-footer></app-footer>
  <!--ACA VA EL COMPONENTE DEL footer-->

</div>