<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-title class="ion-text-center">RegistrAPP</ion-title>
  <br>

  <ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title><mat-icon>home</mat-icon> Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <a [routerLink]="['/scan']"><ion-item><mat-icon>camera_alt</mat-icon>&nbsp;Escanear codigo QR</ion-item></a>
          <a [routerLink]="['/historial']"><ion-item><mat-icon>spellcheck</mat-icon>&nbsp;Ultimas clases</ion-item></a>
          <ion-item><mat-icon>person</mat-icon>&nbsp;Cuenta</ion-item>
          <ion-item><mat-icon>settings</mat-icon>&nbsp;Opciones</ion-item>
          <a [routerLink]="['/login']"><ion-item><mat-icon>logout</mat-icon>&nbsp;Salir</ion-item></a>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main">
      <ion-content class="ion-padding">

        <ion-menu-toggle>
          <ion-button color="tertiary" expand="block">Menu</ion-button>
        </ion-menu-toggle>

        <br>
        <ion-card-title class="ion-text-center" #titulo>
          <h1 id="bienvenido">¡Bienvenido!</h1>
        </ion-card-title>
        <ion-item id="avatar">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
          <ion-label id="username-text">{{data.email}}</ion-label>
        </ion-item>
        <br>


        <ion-card [routerLink]="['/scan']" class="ion-background-tertiary">
          <ion-card-content class="ion-text-center" #qr>
            <img src="assets/img/qr-code.png" alt="qrcode" width="125px" height="auto">
          </ion-card-content>
          <ion-text class="ion-text-center">
            <h4>Escanear codigo QR</h4>
          </ion-text>
        </ion-card>

        <hr>

        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <a [routerLink]="['/historial']"><mat-icon>spellcheck</mat-icon></a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>person</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>settings</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <a [routerLink]="['/login']"><mat-icon>logout</mat-icon></a>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-content>
    </div>
  </ion-app>

  

</ion-content>
