<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-title class="ion-text-center">RegistrAPP</ion-title>
  <br>

  <ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title><mat-icon>home</mat-icon> Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item><mat-icon>camera_alt</mat-icon>&nbsp;Escanear codigo QR</ion-item>
          <ion-item><mat-icon>spellcheck</mat-icon>&nbsp;Asistencia</ion-item>
          <ion-item><mat-icon>schedule</mat-icon>&nbsp;Horario</ion-item>
          <ion-item><mat-icon>person</mat-icon>&nbsp;Cuenta</ion-item>
          <ion-item><mat-icon>settings</mat-icon>&nbsp;Opciones</ion-item>
          <a [routerLink]="['/login']"><ion-item><mat-icon>logout</mat-icon>&nbsp;Salir</ion-item></a>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main">
      <ion-content class="ion-padding">

        <ion-menu-toggle>
          <ion-button color="tertiary" expand="block">Menu</ion-button>
        </ion-menu-toggle>

        <br>
        <ion-card-title class="ion-text-center">
          Bienvenido Usuario
        </ion-card-title>

        <br>


        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Escanear código QR
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="ion-text-center">
            <img src="assets/img/qr-code2.png" alt="usuario" width="75px" height="auto">
          </ion-card-content>
        </ion-card>

        <hr>

        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>spellcheck</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>schedule</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>person</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="ion-text-center">
                <mat-icon>settings</mat-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-content>
    </div>
  </ion-app>

  

</ion-content>
