<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-table>
    <ion-row id="table-header">
      <ion-col>
        <ion-label>Correo</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Contrasena</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row *ngFor="let item of usuarios">
      <ion-col>
        <ion-label>{{item.correo}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{item.contrasena}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-table>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="borrarTabla()" class="ion-text-center" expand="block">
      Borrar datos de la tabla
    </ion-button>
  </ion-toolbar>
</ion-footer>
